.landingpage-contents {
  height: 100vh;
  background-image: url("../../img/PortraitBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.landingpage-navbar {
  background-color: black;
  padding: 0em;
}

.logo {
  left: 0px;
}

.landing-login {
  top: 0px;
  position: absolute;
  right: 20px;
}

.landing-login-button {
  width: 80px;
  height: 1.8rem;
  border-radius: 20px;
}

.muvement-name-img {
  margin: 0 auto;
  padding-top: 5%;
}

.muvement-desc {
  text-align: center;
  padding-top: 5%;
  color: white;
  font-size: 13px;
}

.landing-signup-button,
.landing-signup-button .ant-btn:hover,
.landing-signup-button .ant-btn:focus {
  background: linear-gradient(to right, #24C6DC -30%, #514A9D 100%);
  width: 16rem;
  height: 3rem;
  border-radius: 3rem;
  color: white;
  font-family: Sen-Bold;
  font-size: 1.3em;
  border: none;
  box-shadow: 0px 0px 15px #514A9D;
  margin: 3.5rem auto;
}

.grid-img {
  vertical-align: middle;
  margin-top: 1.2rem;
  text-align: center;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.75), 0 2rem 3rem 0 rgba(0, 0, 0, 0.75);
}
