.body {
  height: 100rem;
  background-image: url("../../img/EditBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mp-body {
  height: 100rem;
  background-image: url("../../img/PortraitEditBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contents {
  background-color: transparent;
}

.contents .ant-layout-content {
  padding: 0 2rem;
}

.section-title-container {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
    border-radius: 50px;
    box-shadow: 0px 0px 20px  #514A9D;
    /*margin: 2rem 2rem;*/
    position: relative;
    padding: 2px 2px;
    background-image: linear-gradient(to right, #24c6dc, #514a9d);
}

.section-title-inner {
  background: #131313;
  text-align: center;
  padding: 0.5em 5em;
  border-radius: 50px;
}

.section-title .ant-input {
  border: 0;
  color: #fff;
  background-color: transparent;
  font-family: 'Sen-Bold';
  text-align: center;
  font-size: 1.2rem;
}

.section-title .ant-input:focus,
.section-title .ant-input:hover {
  box-shadow: none;
  border-right-width: 0;
}

.section-title h3 {
    font-family: 'Sen-Black';
    font-size: 0.875rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #fff;
}

.contents .breadcrumb {
  margin: 16px 0;
  font-family: "Sen-Regular";
}

.contents .ant-breadcrumb,
.contents .ant-breadcrumb-separator,
.contents .ant-breadcrumb > span:last-child {
  color: #fff;
}

.sider .ant-menu-dark {
  background: linear-gradient(to bottom, #313131 -55%, #000000 130%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

}

.sider .ant-menu-inline > .ant-menu-item {
  height: 100px;
}

.sider .ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 4px;
}

.sider .sider-menu {
  height: 100%;
  border-right: 0;
}

.sider ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sider li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sider .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid #514a9d;
}

.sider-button {
    height: 45px;
    width: 45px;
    box-shadow: 0px 0px 15px  white;
}

.sider li p {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: "Sen-Black";
  font-size: 0.75rem;
  line-height: initial;
}

.sider .ant-menu-item .anticon {
  margin-right: 0;
  font-size: 30px;
  color: rgb(36, 198, 220);
}

.sider .ant-btn > .anticon {
  line-height: 0;
}

.sider .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}

.footer {
  background: #131313;
  text-align: center;
  color: #fff;
}

.formationscreen-stage{
    margin-bottom: 2rem;
}
