.body {
  min-height: 100vh;
  height: 100vh;
  background-image: url("../../img/EditBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mp-body {
  min-height: 100vh;
  height: 100vh;
  background-image: url("../../img/PortraitEditBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contents {
  background-color: transparent;
}

.contents-main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section-title-container {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  flex: 1 0 12.5%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.section-title {
    border-radius: 50px;
    box-shadow: 0px 0px 20px  #514A9D;

    position: relative;
    padding: 2px 2px;
    background-image: linear-gradient(to right, #24c6dc, #514a9d);
    width: 70%;
}

.section-title-inner {
  background: #131313;
  text-align: center;
  padding: 0.1em 3em;
  border-radius: 50px;
}

.section-title .ant-input,
.section-title span {
  border: 0;
  color: #fff;
  background-color: transparent;
  font-family: 'Sen-Bold';
  text-align: center;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-title .ant-input:focus,
.section-title .ant-input:hover {
  box-shadow: none;
  border-right-width: 0;
}

.section-title h3 {
    font-family: 'Sen-Black';
    font-size: 0.875rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #fff;
}

.contents .breadcrumb {
  margin: 16px 0;
  font-family: "Sen-Regular";
}

.contents .ant-breadcrumb,
.contents .ant-breadcrumb-separator,
.contents .ant-breadcrumb > span:last-child {
  color: #fff;
}

.sider .ant-menu-dark {
  background: linear-gradient(to bottom, #313131 -55%, #000000 130%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

}

.sider .ant-menu-inline > .ant-menu-item {
  height: 100px;
}

.sider .ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 4px;
}

.sider .sider-menu {
  height: 100%;
  border-right: 0;
}

.sider ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sider li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sider .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid #514a9d;
}

.sider-button {
    height: 45px;
    width: 45px;
    box-shadow: 0px 0px 15px  white;
}

.sider li p {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: "Sen-Black";
  font-size: 0.75rem;
  line-height: initial;
}

.sider .ant-menu-item .anticon {
  margin-right: 0;
  font-size: 30px;
  color: rgb(36, 198, 220);
}

.sider .ant-btn > .anticon {
  line-height: 0;
}

.sider .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}

.footer {
  background: #131313;
  text-align: center;
  color: #fff;
}

.formationscreen-stage{
  background: #000;
}

.formationscreen-buttons{
    margin-top: 0.5em;
}

.horizontal-list {
    padding-left: 1em;
}

.show-view{
    margin-top: 1em;
}

.mp-formation-properties-modal {
  background: #131313;
  padding: 24px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
}

.mp-formation-properties-modal h3 {
  font-family: 'Sen-Black', Arial, sans-serif;
  color: #fff;
  font-size: 1.5rem;
}

.mp-formation-properties-modal .ant-input {
  background: linear-gradient(to right, #24c6dc, #514a9d);
  border: 0;
  font-family: 'Sen-Regular', Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  border-radius: 50px;
  margin-top:30px;
  width: 100%;
  height: 45px;
}

.mp-formation-properties-modal > button {
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
  border: 2px solid #24c6dc;
  font-family: 'Sen-Black', Arial, sans-serif;
  color: #24c6dc;
  background: transparent;
  width: 100%;
  height: 45px;
  font-size: 14px;
}

.formation-properties .ant-modal-content {
  padding: 2px 2px;
  background-image: linear-gradient(to right, #24c6dc, #514a9d);
  border-radius: 15px;
}

.formation-properties .ant-modal-close {
  color: #fff;
}

.formation-properties .ant-modal-body {
  padding: 0;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    .section-title-container {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .horizontal-list {
        padding-top: 1em;
    }

    .formationscreen-buttons{
        margin-top: 2em;
    }

    .show-view {
        margin-top: 2.5em;
    }

    .show-buttons {
        margin-top: 0.5em;
    }

    .show-timing {
        margin-top: 1rem;
    }
}
