.ant-layout-header {
  background: #131313;
  /*padding: 0 1em;*/
}

.nav-bar {
  display: flex;
}

.nav-bar .title {
  font-family: Sen-Black;
  font-size: 2rem;
  text-shadow: 0px 0px 35px white;
  flex: 1;
  text-align: center;
}

.nav-bar .title h3 {
  color: #fff;
}

.nav-bar ul {
  text-align: right;
  line-height: 64px;
}

.nav-bar li {
  padding: 0;
}

.nav-bar-button{
  padding: 1px 8px 2px 8px;
}

.nav-bar .ant-btn {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
}

.right-container .ant-menu-dark {
  background: #131313;
}

.right-container .ant-menu-item .anticon {
  margin-right: 0;
  font-size: 23px;
}

.right-container .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: transparent;
}
