.ant-layout-header {
  background: #131313;
  padding: 0px;
}

.nav-bar {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: relative;
  height: 100%;
}

.nav-bar .dashboard-title {
  font-family: Sen-Black;
  font-size: 2rem;
  text-shadow: 0px 0px 35px white;
  flex: 1;
  text-align: center;
  width: 250px;
  margin-left: 10%;
}

.nav-bar .title {
  font-family: Sen-Black;
  font-size: 2rem;
  text-shadow: 0px 0px 35px white;
  flex: 1;
  text-align: center;
  width: 250px;
}

.nav-bar .title h3 {
  color: #fff;
  width: 13em;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-bar .right-container{
    position: absolute;
    margin-right: 2%;
    right: 0px;
    top: 50%;
    transform: translateY(-50%)
}

.nav-bar ul {
  text-align: right;
}

.nav-bar li {
  padding: 0;
}

.nav-bar-button{
  padding: 1px 3px 2px 3px;
}

.nav-bar .ant-btn {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
}

.right-container .ant-menu-dark {
  background: transparent;
}

.right-container .ant-menu-item .anticon {
  font-size: 25px;
  margin-right: 0;
}

.right-container .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: transparent;
}

.ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only{
    padding-left: 4px;
    padding-right: 4px;
}

/* Mobile Portrait */
.nav-bar .mp-title {
    margin: auto;
}

.nav-bar .mp-title h3 {
  color: #fff;
  width: 9em;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5rem;
  text-align: center;
}

.nav-bar .mp-right-container{
    position: absolute;
    margin-right: 3%;
    right: 0px;
    display: table-cell;
    vertical-align: middle;
}

.mp-right-container .ant-menu-item .anticon {
  font-size: 20px;
  margin-right: 0;
}

li.ant-menu-item.mp-menu-item{
   margin-left: 10px;
   padding: 0px;
}

.ant-menu-item{
    margin-left: 7px;
}
