.slide-outer {
  padding: 10px;
  line-height: 20px;
}

.linear-gradient-bg {
  background-image: linear-gradient(to bottom, #24c6dc, #514a9d);
}

.stage-wrapper {
  padding: 5px;
  background: #1b1b1b;
  border-radius: 5px;
  pointer-events: none;
}

.slide-title {
  color: #fff;
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.slide-list-title {
  color: #fff;
  margin: 1em;
  font-family: Sen-Bold;

}

.slide-list {
  overflow-y: scroll;
  height: calc(100vh - 234px);
  position: relative;
}

.slide-list .react-draggable-dragging {
  background: linear-gradient(to bottom, #24c6dc, #514a9d);
  position: relative;
  z-index: 10;
}