.choreo-homescreen-body {
  min-height: 100vh;
  background-image: url(" ../../img/FormationsOverviewBackground.png");
  background-repeat: repeat;
  background-size: cover;
  max-width: 100%;
  margin: 0px;
}

.mp-choreo-homescreen-body {
  min-height: 100vh;
  background-image: url(" ../../img/PortraitEditBackground.png");
  background-repeat: repeat;
  background-size: cover;
  max-width: 100%;
  margin: 0px;
}

.choreo-homescreen-contents {
  background-color: transparent;
}

.ant-layout-sider .ant-layout-sider-dark{
    height: 100rem;
}

.ant-layout-sider-children {
  background: linear-gradient(to bottom, #313131 -70%, #000000 140%);
  box-shadow: 0 2em 3em 0 rgba(0, 0, 0, 0.25), 0 2.1em 3.1em 0 rgba(0, 0, 0, 0.20);
}

.add-choreo-pic-icon {
  font-size: 3rem;
}

.add-choreo-pic {
  width: 80%;
  margin: 10vh auto 30px auto;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #000000;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.avatar-uploader {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .avatar-uploader {
    width: 50%;
  }
}

.avatar-uploader .ant-upload.ant-upload-select-picture-card {
  width: 100%;
  height: 13em;
  background-color: #000000;
}

.new-formation {
  height: 15em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #24C6DC -30%, #514A9D 100%);
  -webkit-box-shadow: 0px 0px 1.5em 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1.5em 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1.5em 0px rgba(0, 0, 0, 0.75);
}

.add-formation-title {
  text-align: center;
  top: 7em;
  font-family: "Sen-Black";
  color: white;
  font-size: 1.3em;
}

.add-formation-icon {
  top: 1.5em;
  color: white;
  font-size: 3em;
}

.formation-card {
  margin: 2em 0;
}

.ant-formation-card-cover {
  height: 15em;
  /*border-radius: 1.2em;*/
  overflow: hidden;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 1.5em 0px rgba(0, 0, 0, 0.75);
  position: relative;
}

.ant-formation-card-cover img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}

.ant-card-body {
  padding: 0;
}

.ant-card {
  border-radius: 1em;
  background: transparent;
}

.formation-name {
  color: #fff;
  font-family: 'Sen-Regular';
  padding-top: 1em;
  font-size: 1.2em;
}

.choreo-homescreen-tabs {
  text-align: center;
  margin: 2em auto 0 auto;
  border: 2px solid #24C6DC;
  border-radius: 30px;
  height: 3em;
  width: 80%;
  padding: 0px;
}

.choreo-homescreen-activebutton {
  background-color: #24C6DC;
  border: none;
  width: 50%;
  height: 100%;
  border-radius: 30px;
  color: white;
  font-family: "Sen-Bold";
  padding: 0px;
  font-size: 1em;
}

.choreo-homescreen-inactivebutton {
  background-color: transparent;
  border: none;
  width: 50%;
  height: 100%;
  border-radius: 30px;
  color: white;
  font-family: "Sen-Bold";
  padding: 0px;
  font-size: 1em;
}


.mp-title h3{
    font-family: Sen-Black;
    text-shadow: 0px 0px 35px white;
    flex: 1;
    text-align: center;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}

button.ant-btn.mp-back-button.ant-btn-icon-only{
    top: 10px;
}

.mp-right-container .ant-menu-item .anticon {
  font-size: 20px;
  position: absolute;
}


.ant-menu-submenu-title{
    padding: 0px;
    position: fixed;
}

.mobile-switch-tabs {
  text-align: center;
  margin: 0 auto;
  border: 1px solid #24C6DC;
  border-radius: 30px;
  height: 3em;
  width: 90%;
  padding: 0px;
  font-size: 13px;
}

.mobile-switch-tabs-home {
  text-align: center;
  margin: 2em auto 0em auto;
  border: 1px solid #24C6DC;
  border-radius: 30px;
  height: 3em;
  width: 90%;
  padding: 0px;
  font-size: 13px;
}

.mobile-switch-tabs-active {
  background-color: #24C6DC;
  border: none;
  width: 33.333%;
  height: 100%;
  border-radius: 30px;
  color: white;
  font-family: "Sen-Bold";
  padding: 0px;
  font-size: 1em;
}

.mobile-switch-tabs-inactive {
  background-color: transparent;
  border: none;
  width: 33.333%;
  height: 100%;
  border-radius: 30px;
  color: white;
  font-family: "Sen-Bold";
  padding: 0px;
  font-size: 1em;
}

.backbutton-desc {
  color: white;
  font-size: 1rem;
}

button.ant-btn.backbutton.ant-btn-icon-only {
  display: inline-flex;
  vertical-align: middle;
}

.stagedim-title {
  color: white;
  font-family: Sen-Black;
  text-align: center;
  margin-top: 1em;
}


.edit-performers-button {
  width: 80%;
  border: 1px solid #24C6DC;
  border-radius: 50px;
  font-family: Sen-Black;
  color: #24C6DC;
  font-size: 1em;
  height: 3em;
  margin-top: 1em;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected{
  background: transparent;
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    .mobile-switch-tabs {
      text-align: center;
      margin: 1.8em auto 0 auto;
      border: 1px solid #24C6DC;
      border-radius: 30px;
      height: 3em;
      width: 90%;
      padding: 0px;
      font-size: 13px;
    }
}
