.new-choreo {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #191919;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.new-choreo-icon {
  font-size: 64px;
}

.choreo-card {
  margin: 15px 0;
}

#card-date {
  color: #797979;
  margin-right: 10px;
}

.ant-card-cover {
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}

.ant-card-cover img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}

.ant-card-body {
  padding: 0;
}

.ant-card {
  border-radius: 5px;
  background: transparent;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Futura-Medium';
}
