.new-choreo {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #191919;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.new-choreo-icon {
    position: absolute;
    bottom: 120px;
  font-size: 64px;
}

.choreo-card {
  margin: 15px 0;
}

#card-date {
  color: #797979;
  margin-right: 10px;
}

.ant-card-cover {
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}

.ant-card-cover img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}

.ant-card-body {
  padding: 0;
}

.ant-card {
  border-radius: 5px;
  background: transparent;
}

.description {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Sen-Bold';
  font-size: 16px;
}

.description-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Sen-Bold';
  font-size: 16px;
}

.new-choreo-modal .ant-modal-content {
  /*border: 5px solid #24c6dc;*/
  padding: 2px 2px;
  background-image: linear-gradient(to right, #24c6dc, #514a9d);
  border-radius: 15px;
}

.new-choreo-modal .ant-modal-close {
  color: #fff;
}

.new-choreo-modal .ant-modal-body {
  padding: 0;
}

.new-choreo-modal-inner {
  background: #131313;
  padding: 24px;
  border-radius: 15px;
  color: #fff;
  text-align: center;
}

.new-choreo-modal-inner h3 {
  font-family: 'Sen-Black', Arial, sans-serif;
  color: #fff;
  font-size: 2rem;
}

.new-choreo-modal-inner .ant-input {
  background: linear-gradient(to right, #24c6dc, #514a9d);
  border: 0;
  font-family: 'Sen-Regular', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 50px;
  margin-top:30px;
  width: 400px;
  height: 45px;
}

.new-choreo-modal-inner .ant-input::placeholder {
    color: white;
}

.new-choreo-modal-inner > button {
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
  border: 2px solid #24c6dc;
  font-family: 'Sen-Black', Arial, sans-serif;
  color: #24c6dc;
  background: transparent;
  width: 400px;
  height: 45px;
  font-size: 20px;
}

.add-choreo-title{
    position: absolute;
    bottom: 70px;
    font-family: "Sen-Black";
    color: white;
    font-size: 19px;
}
