@font-face {
  font-family: 'Futura-Medium';
  src: url('../fonts/Futura-Medium.ttf');
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('../fonts/Futura-Bold.ttf');
}

.body {
  height: 100vh;
  background-image: url("../img/EditBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contents {
  background-color: transparent;
}

.contents .ant-layout-content {
  padding: 0 50px;
}

.section-title-container {
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
    border-radius: 50px;
    border: 2px solid #514A9D;
    box-shadow: 0px 0px 50px  #514A9D;
    text-align: center;
    padding: 0.5em 5em;
    margin: 2rem 0;
    position: relative;
}

.section-title h3 {
    font-family: 'Futura-Medium';
    font-size: 1.3vw;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #fff;
}

.contents .breadcrumb {
  margin: 16px 0;
  font-family: "Futura-Medium";
}

.contents .ant-breadcrumb,
.contents .ant-breadcrumb-separator,
.contents .ant-breadcrumb > span:last-child {
  color: #fff;
}

.sider .ant-menu-dark {
  background: linear-gradient(to bottom, #313131 -55%, #000000 130%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

}

.sider .ant-menu-inline > .ant-menu-item {
  height: 120px;
}

.sider .sider-menu {
  height: 100%;
  border-right: 0;
}

.sider ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sider li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button.sider-button {
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 30px  white;
}

.sider li p {
  margin-bottom: 0;
  font-family: "Futura-Medium";
  font-size: 1vw;
}

.sider .ant-menu-item .anticon {
  margin-right: 0;
  font-size: 30px;
  color: rgb(36, 198, 220);
}

.sider .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
}

.footer {
  background: #131313;
  text-align: center;
  color: #fff;
}
