.section-title-container {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-title {
    border-radius: 20px;
    border: 1px solid #001529;
    text-align: center;
    padding: 0 3em;
    margin: 2rem 0;
}

.section-title h3 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}