.ant-layout-header {
  background: #131313;
}

.nav-bar {
  display: flex;
}

.nav-bar .title {
  font-family: Futura-Bold;
  font-size: 2vw;
  text-shadow: 0px 0px 35px white;
  flex: 1;
  text-align: center;
}

.nav-bar ul {
  float: right;
  line-height: 64px;
}

.nav-bar li {
  padding: 0;
}

.nav-bar .ant-btn {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
}

.right-container .ant-menu-dark {
  background: #131313;
}

.right-container .ant-menu-item .anticon {
  margin-right: 0;
  font-size: 20px;
}

.right-container .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: transparent;
}